hi.main {
    font-family: fantasy;
}
table{
    border-color: dimgray;
    background-color: #009900;
}
p{
    color: black ;
    font-style: normal ;
}
a{color: black;}
a:hover {
                    text-shadow: 
                    black 1px 1px 0, 
                    black 2px 2px 0, 
                    black 3px 3px 0, 
                    black 4px 4px 0, 
                    black 5px 5px 0;
                     color: pink;
}